.card {
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 16px;
    width: auto;
    height: fit-content;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
  }
  
  .card-image {
    width: 100%;
    height: 160px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 16px;
  }
  .icon-top{
    position: absolute;
    top: 120px;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background-color: #eaeaea94;
    border-radius: 12px;
    padding: 5px;
  }
.icon{
    font-size: 24px;
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-header h2 {
    margin: 0;
    font-size: 0.8em;
  }
  
  .card-header p {
    margin: 0;
    display: flex;
    align-items: center;
    color: #2dd55b;
    font-size: 12px;
  }
  
  .card-header p ion-icon {
    margin-right: 4px;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
  }
  
  .card-footer p {
    margin: 0;
    font-size: 13px;
    color: rgb(200, 200, 200);
  }
  
  .distance {
    color: #888;
  }
  
  @media (max-width: 768px) {
    .card {
      padding: 8px;
    }
  
    .card-content {
      padding: 12px;
    }
  
    .card-header h2 {
      font-size: 1em;
    }
  
    .card-footer {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .distance {
      margin-top: 4px;
    }
  }
  