.container{
    width: 100%;
    padding: 20px;
    // background-color: rgb(255, 161, 161);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 3px;
}

.box{
    height:80px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(ion-color-primary);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

}

.box > img{
    height:2em;
    width: 2em;
}
.title{
    margin-top: 3px;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    text-wrap: wrap;
    color:#6d557c;
}   
.sub-title{
    margin: 0;
    font-weight: normal;
    font-size:9px;
    text-align: center;
    text-wrap: wrap;
}   

.entry{

    animation: entry 2s ease 0s 1 alternate forwards;
}


.exit{

    animation: exit 3s ease 0s 1 alternate forwards;

}


.animate-box{
    height: 10px;
}
@keyframes entry {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes exit {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-250px);
	}
}