.container{
    width: 100%;
    padding: 20px;
    // background-color: rgb(255, 161, 161);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1px;

}

.box{
    height: 80px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(ion-color-primary);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.box > img{
    height:3em;
    width: auto;
}
.title{
    margin: 0;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    text-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}   

.entry{

    animation: entry 2s ease 0s 1 alternate forwards;
}


.exit{

    animation: exit 3s ease 0s 1 alternate forwards;

}


.animate-box{
    height: 10px;
}
@keyframes entry {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes exit {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-250px);
	}
}