<div class="container">
  <div class="box">
    <img src="assets/icon/sale.gif" alt="">
   <div class="animate-box">
    <p class="title">Offers</p>
   </div>
  </div>
  <div class="box">
    <img src="assets/icon/scooter.gif" alt="">
    <div class="animate-box">
      <p class="title ">Express fast</p>
    </div>
  </div>
  <div class="box">
    <img src="assets/icon/maps.gif" alt="">
  <div class="animate-box">
    <p class="title ">Near me</p>
  </div>
  </div>
  <div class="box">
    <img src="assets/icon/wallet.gif" alt="">
   <div class="animate-box">
    <p class="title ">Subscription</p>
   </div>
  </div>
</div>