<div class="product-card">
  <div class="product-info">
    <img
      [src]="productImageUrl"
      alt="Product Image"
      crossorigin="anonymous"
      class="product-image"
    />
    <div class="product-details">
      <h2>{{ productName }}</h2>
      <p class="pricing">
        Price: {{ productPrice }}
        <span *ngIf="quantityAcceptedIn == 1">per KG</span>
        <span *ngIf="quantityAcceptedIn == 0">per Item</span>
      </p>
      <p class="quantity">About: {{ desc }}</p>
    </div>
  </div>
  <div class="cart-actions">
    <button (click)="decrementQuantity()">-</button>
    <span>{{ quantity }}</span>
    <button (click)="incrementQuantity()">+</button>
    <!-- <ion-button>Add to Cart</ion-button> -->
  </div>
</div>
