<div class="product-card animate__animated animate__slideInDown">
  <div class="product-info">
    <img [src]="productImageUrl" alt="Product Image" class="product-image">
    <div class="product-details">
      <h2>{{productName}}</h2>
      <p class="pricing">Price: {{productPrice}}</p>
      <!-- <p class="quantity">Selected Quantity: {{quantity}}</p> -->
     
    </div>
  </div>
  <div class="cart-actions">
    <button (click)="decrementQuantity()">-</button>
    <span>{{quantity}}</span>
    <button (click)="incrementQuantity()">+</button>
    <!-- <ion-button>Add to Cart</ion-button> -->
  </div>

</div>
