.product-card {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 16px;
    margin-bottom: 16px;
    // box-shadow: 0px 10px 15px 13px rgba(0,0,0,0.1);
  }
  
  .product-info {
    display: flex;
    align-items: stretch;
  }
  
  .product-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 6px;
    padding: 0;
  }
  
  .product-details {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }
  
  .product-details h2 {
    margin: 0;
    font-size: 1em;
  }
  
  .pricing,
  .quantity {
    font-size: 0.7em;
    margin: 1px 0;
    color: #919191;
  }
  
  .options {
    margin-top: 8px;
  }
  
  .cart-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(143, 53, 199);
    border-radius: 20px;
    width: 5em;
    padding: 6px 12px;
  }
  
  .cart-actions button {
    outline: none;
    border: none;
    background-color:transparent;
    font-size: 1em;
    color: #ffffff;
  }
  
  .cart-actions span {
    font-size: 1em;
    color: #ffffff;

  }
  
