ion-content{
    --background:#fdfdfd;
}

ion-toolbar{
   

}
.container{
    padding: 10px;
}

.pricing{
    color: #22A45D;
    font-size: 12px;
    font-weight: 400;
}
.sort-list-container{
    width: auto;
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-flex;
    gap: 8px;
}
.badge.active{
    height: 40px;
    width: 80px;
    padding: 4px;
    border-radius: 14px;
    background-color: #ffe2c8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}

.badge{
    height: 40px;
    width: 80px;
    padding: 4px;
    border-radius: 14px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.badge.active img{
    height: 22px;
    fill: #FF7700;
}

.badge p {
    font-size: 12px;
}

.badge.active p {
    font-size: 12px;
    color: #FF7700;
}

.ion-item{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hotel-thumbnail{
    height: 80px;
    width: 80px;
    border-radius: 8px;
}
.hotel-item-container{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
  }
  
  ion-item .rating-container .rating{
    font-size: 10px;
    margin: 0;
  }
.rating{
    margin: 0;
    font-size: 14px;
}
.rating-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
}
.sub-title{
    font-size: 12px;
}
ion-chip{
    z-index: 100;
}

ion-icon{
    font-size:20px;
}
ion-chip > ion-icon{
    font-size: 30px;
}

.sort-badge{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7FFF1;
    height: 20px;
    width: 57px;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 6px;
}

.sort-badge p {
    font-size: 12px;
    color: #00C54F;
}

ion-item:active{
    -webkit-animation: scale-down-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-down-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

ion-chip{
    margin-right: 10px;

}
.swiper-container{
    display: inline-flex;
    gap:2px;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    width: 100vw;
}

.chip{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 76vw;
    height: 48px;
    border: 1px solid lightgray;
    border-radius: 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.chip:active{
    border-color: var(--ion-color-primary);
    background-color: #ffc4c8;
}
.icon-start{

}

.text{
    font-size: 12px;
}

.img-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container img{
    height: 200px;
    width: auto;
}


.product-card {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 16px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 7px;
    // box-shadow: 0px 10px 15px 13px rgba(0,0,0,0.1);
  }
  
  .product-info {
    display: flex;
    align-items: stretch;
  }
  
  .product-image {
    width: 50px;
    height:50px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 8px;
    padding: 0;
  }
  
  .product-details {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }
  
  .product-details h2 {
    margin: 0;
    font-size: 12px;
  }
  
  
  .quantity {
    font-size: 0.5em;
    margin: 4px 0;
  }
  
  .options {
    margin-top: 8px;
  }
  
  .cart-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--ion-color-primary);
    border-radius: 20px;
    width: 5em;
    padding: 6px 14px;
  }
  
  .cart-actions button {
    outline: none;
    border: none;
    background-color:transparent;
    font-size: 1em;
    color: #ffffff;
  }
  
  .cart-actions span {
    font-size: 1em;
    color: #ffffff;

  }
  
  ion-card > .icon{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
}



 .notice{
    margin: 0;

    color: rgb(194, 194, 194);
    font-size: 10px;
    font-weight: 600;
    text-wrap: balance;
 }