<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Cart </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="products.length == 0">
  <div class="center-container">
    <img
      class="centered-image"
      src="assets/empty-laundry.png"
      alt=""
      srcset=""
    />
    <ion-text color="primary" class="ion-text-center">
      <p>Your cart is empty!</p>
    </ion-text>
    <ion-button
      (click)="goToHome()"
      color="primary"
      expand="block"
      fill="solid"
      mode="ios"
    >
      Go And Add Your Laundry now!
    </ion-button>
  </div>
</ion-content>
<ion-content [fullscreen]="true" *ngIf="products.length > 0">
  <ion-card class="ion-padding">
    <ion-card-header>
      <!-- <ion-card-subtitle
        >(Add more 100 worth items to get free delivery!)</ion-card-subtitle
      > -->
      <ion-card-title>Cart Items({{products.length}} Items)</ion-card-title>
    </ion-card-header>
    <app-product-card
      *ngFor="let item of products"
      [productImageUrl]="item?.serviceId?.image_url"
      [productName]="item?.serviceId?.name"
      [quantityAcceptedIn]="item?.selectedQuantityType"
      [quantity]="item?.quantity"
      [desc]="item?.serviceId?.description"
      (quantityEvent)="addItem($event)"
      (quantityEventRemove)="deleteItem($event)"
      [_id]="item?.serviceId?._id"
      [productPricePerKg]="item?.serviceId?.perKgPrice"
      [productPricePerPiece]="item?.serviceId?.perPeacePrice
"
    >
    </app-product-card>
  </ion-card>
  <ion-card>
    <div class="icon">
      <ion-chip
        color="primary"
        mode="ios"
        outline="true"
        (click)="openModalAddress()"
      >
        <ion-label>Select</ion-label>
      </ion-chip>
    </div>
    <ion-card-header>
      <ion-card-subtitle>Shipping Details </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Delivery To:</strong></p>
      <p>{{address?.address | titlecase}}</p>
      <p></p
    ></ion-card-content>
  </ion-card>

  <ion-card>
    <div class="icon">
      <ion-chip
        *ngIf="!isPromoCodeApplied"
        color="primary"
        mode="ios"
        outline="true"
        (click)="applyOffer()"
        [disabled]="offerFirst.length == 0"
      >
        <ion-label>Apply</ion-label>
      </ion-chip>

      <ion-chip
        *ngIf="isPromoCodeApplied"
        color="danger"
        mode="ios"
        outline="true"
        (click)="removeOffer()"
        [disabled]="offerFirst.length == 0"
      >
        <ion-label>Remove</ion-label>
      </ion-chip>
    </div>
    <ion-card-header *ngIf="offerFirst.length == 0">
      <ion-card-subtitle>You have no offers currently!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header *ngIf="offerFirst.length > 0">
      <ion-card-subtitle *ngIf="!isPromoCodeApplied"
        >Save {{offerFirst[0]['discountAmount'] | currency:"INR"}} with
        '{{offerFirst[0]['code']}}'
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="isPromoCodeApplied"
        >You have saved {{offerFirst[0]['discountAmount'] | currency:"INR"}}
        with '{{offerFirst[0]['code']}}'
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p [routerLink]="['/offers']" routerLinkActive="router-link-active">
        <strong>View all coupons</strong>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Order Details</ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-label style="font-size: 14px; font-weight: 300">Subtotal</ion-label>
      <p class="pricing" slot="end">{{subtotal | currency:"INR"}}</p>
    </ion-item>
    <ion-item>
      <ion-label style="font-size: 14px; font-weight: 300">Delivery</ion-label>
      <p class="pricing" slot="end">{{deliveryCharges | currency:"INR"}}</p>
    </ion-item>
    <ion-item>
      <ion-label style="font-size: 14px; font-weight: 300"
        >Handling Fees</ion-label
      >
      <p class="pricing" slot="end">{{handlingFeed + "%"}}</p>
    </ion-item>
    <ion-item *ngIf="gstCharges > 0">
      <ion-label style="font-size: 14px; font-weight: 300">(GST)</ion-label>
      <p class="pricing" slot="end">{{gstCharges | currency:"INR"}}</p>
    </ion-item>
    <ion-item>
      <ion-label style="font-size: 14px; font-weight: 300">Total</ion-label>
      <p class="pricing" slot="end">{{total | currency:"INR"}}</p>
    </ion-item>
  </ion-card>
  <canvas id="confetti-canvas"></canvas>
  <ion-modal
    id="example-modal"
    #modal
    [animated]="true"
    [isOpen]="isPromoCodeSuccessDialogOpen"
  >
    <ng-template>
      <div class="modal-container">
        <img src="assets/icon/balloons.gif" alt="" />
        <p class="applied">'{{offerFirst[0]['code']}}' applied</p>
        <p class="title">
          You Saved {{offerFirst[0]['discountAmount'] | currency:"INR"}}
        </p>
        <p class="label">with this coupon code.</p>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
<ion-footer
  class="animate__animated animate__slideInUp"
  *ngIf="products.length > 0"
>
  <ion-toolbar color="primary">
    <ion-button
      color="light"
      (click)="presentActionSheet()"
      expand="block"
      fill="clear"
      shape="round"
    >
      Your Order Total is {{total |currency:"INR"}}
      <ion-icon
        class="animate__animated animate__shakeX animate__slower animate__infinite"
        slot="end"
        name="arrow-forward-outline"
      ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
