<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
    Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card class="ion-padding">
  <ion-card-header>
    <ion-card-subtitle>(Add more 100 worth items to get free delivery!)</ion-card-subtitle>
    <ion-card-title>Cart Items(4 Items)</ion-card-title>
  </ion-card-header>
  <app-product-card
  productImageUrl="https://via.placeholder.com/100"
  productName="Product Name"
  productPrice="$10.00">
  </app-product-card>
  <app-product-card
  productImageUrl="https://via.placeholder.com/100"
  productName="Product Name"
  productPrice="$10.00">
  </app-product-card>
  <app-product-card
  productImageUrl="https://via.placeholder.com/100"
  productName="Product Name"
  productPrice="$10.00">
  </app-product-card>
  <app-product-card
  productImageUrl="https://via.placeholder.com/100"
  productName="Product Name"
  productPrice="$10.00">
  </app-product-card>
 </ion-card>
</ion-content>
<ion-footer class="animate__animated animate__slideInUp">
  <ion-toolbar color="primary">
   <ion-button color="light" (click)="presentActionSheet()" expand="block" fill="clear" shape="round">
    Your Order Total is {{totalprice |currency:"INR"}}
    <ion-icon class="animate__animated animate__shakeX animate__slower animate__infinite" slot="end" name="arrow-forward-outline"></ion-icon>
   </ion-button>
  </ion-toolbar>
</ion-footer>