<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Create Order</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/tab1"></ion-back-button>
    </ion-buttons>
   
  </ion-toolbar>
  <ion-searchbar placeholder="Filter services" inputmode="decimal" type="decimal" mode="ios" [(ngModel)]="productFilter.name" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>
</ion-header>
<!-- <ion-toolbar>
  <div class="filter-container">
    <div class="filter-badge">Filters</div>
    <div class="filter-badge-outline" (click)="applyFilter()">Low to high</div>
    <div class="filter-badge-outline" (click)="applyFilter()">By KG</div>
    <div class="filter-badge-outline" (click)="applyFilter()"> Only dryclean</div>
    <div class="filter-badge-outline" (click)="applyFilter()">Highest Rated</div>
  </div>
</ion-toolbar> -->

<ion-content [fullscreen]="true">
  <!-- <div class="centered-image" *ngIf="items.length == 0">
    <img src="assets/empty-laundry.png" alt="" />
    <p>No Items Added!</p>
  </div> -->

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngIf="(items | filterBy: productFilter).length > 0">
        <ion-list>
          <app-product-card
          *ngFor="let item of items | filterBy: productFilter"
  [productImageUrl]="item?.image_url"
  [productName]="item?.name"
  [quantityAcceptedIn]="item?.quantityAcceptedIn"
  [_id]="item._id"
  [desc]="item?.description"
  (quantityEvent)="addItem($event)"
  (quantityEventRemove)="deleteItem($event)"
  productPrice="100.00">
  </app-product-card>
        </ion-list>
      </ion-col>
      <ion-col size="12"  *ngIf="(items | filterBy: productFilter).length == 0">
         <div class="container">
          <img src="assets/no-results.svg" alt="" srcset="">
          <p class="search-heading">Sorry we couldn't find any matches for your search.</p>
          <p class="search-sub-heading">Please try searching with another term.</p>
         </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer color="primary" class="ion-no-border" routerLink="tabs/tabs/tab2">
  <ion-toolbar color="primary" class="ion-text-center">
  You have {{products.length}} Items in your cart.
  </ion-toolbar>
</ion-footer>