.header-text{
    display: flex; flex-direction: column; margin:0; font-size:14px; font-weight: 700; line-height: 22px;
}

.header-text > p{
    font-size:16px; font-weight: 400; line-height: 22px;
}

.category-grid{
    width:100vw;
    height: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-grid > .category-flex-box{
    width: 95vw;
    height: 100%;
    background-color: #e27a7a;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 6px;
    padding: 12px;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid #ccc;
    padding: 12px;
    border-radius: 3em;
    background-color: #d797ff1a;
    ;
    text-align: center;
  }

  .grid-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

 ion-list > ion-list-header > ion-label{
    font-size: 16px;
  }
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }

  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }

  .container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }