<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-profile-card
    class="animate__animated animate__fadeIn"
    profileImageUrl="assets/icon/user.png"
    userName="Hello User!"
    [phoneNumber]="userProfile.phoneNumber"
  >
  </app-profile-card>
  <br />
  <ion-list class="ion-padding animate__animated animate__fadeIn">
    <ion-item detail lines="none" (click)="openPage('/myorder')">
      <ion-icon color="primary" slot="start" name="today-outline"></ion-icon>
      <ion-label>My Orders</ion-label>
    </ion-item>
    <ion-item detail lines="none" (click)="openPage('/subscriptions')">
      <ion-icon color="primary" slot="start" name="card-outline"></ion-icon>
      <ion-label>Subscriptions</ion-label>
    </ion-item>
    <ion-item detail lines="none" (click)="openPage('/helppage')">
      <ion-icon color="primary" slot="start" name="help-outline"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-item>
    <ion-item detail lines="none" (click)="logout()">
      <ion-icon color="primary" slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Sign Out</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
