<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="assets/icon/bulky.png"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="loading-container" *ngIf="isLoading">
    <img class="loading-img" src="assets/icon/laundry.gif" />
  </div>


  <div class="container">
    <ion-list *ngIf="!isLoading">
      <ion-list-header>
        <ion-label style="font-size: 16px; font-weight: 500;">Top Laundries </ion-label>
      </ion-list-header>
      <app-laundry-card
        imageUrl="assets/laundry-demo.svg"
        name="Location Name"
        ratings="4.5"
        address="123 Main St, City, Country"
        (click)="openPage('/view-laundry/Washing/1/add')"
      >
      </app-laundry-card>
      <app-laundry-card
        imageUrl="assets/laundry-demo.svg"
        name="Location Name"
        ratings="4.5"
        address="123 Main St, City, Country"
      >
      </app-laundry-card>
      <app-laundry-card
        imageUrl="assets/laundry-demo.svg"
        name="Location Name"
        ratings="4.5"
        address="123 Main St, City, Country"
      >
      </app-laundry-card>
      <app-laundry-card
        imageUrl="assets/laundry-demo.svg"
        name="Location Name"
        ratings="4.5"
        address="123 Main St, City, Country"
      >
      </app-laundry-card>

      <app-laundry-card
        imageUrl="assets/laundry-demo.svg"
        name="Location Name"
        ratings="4.5"
        address="123 Main St, City, Country"
      >
      </app-laundry-card>
    </ion-list>
  </div>
</ion-content>
<ion-footer color="light">
  <ion-toolbar color="light">
    <div class="filter-container">
      <div class="filter-badge">Filters</div>
      <div class="filter-badge-outline" (click)="applyFilter()">Near me</div>
      <div class="filter-badge-outline" (click)="applyFilter()">Fast Delivery</div>
      <div class="filter-badge-outline" (click)="applyFilter()">5 Km's Radius</div>
      <div class="filter-badge-outline" (click)="applyFilter()">Highest Rated</div>
    </div>
  <!-- <swiper-container
  [slidesPerView]="5"
  [freeMode]="true"
  class="ion-padding"
>
  <swiper-slide>
    <ion-badge
      color="primary"
      mode="ios"
      outline="false"
      (click)="applyFilter()"
      >Filters
    </ion-badge>
  </swiper-slide>

  <swiper-slide>
    <ion-badge
      color="primary"
      mode="ios"
      outline="false"
      (click)="applyFilter()"
      >Near me
    </ion-badge>
  </swiper-slide>
  <swiper-slide>
    <ion-badge
      color="primary"
      mode="ios"
      outline="false"
      (click)="applyFilter()"
      >5 star
    </ion-badge>
  </swiper-slide>

  <swiper-slide>
    <ion-badge
      color="primary"
      mode="ios"
      outline="false"
      (click)="applyFilter()"
      >Lowest
    </ion-badge>
  </swiper-slide>

  <swiper-slide>
    <ion-badge
      color="primary"
      mode="ios"
      outline="false"
      (click)="applyFilter()"
      >Highest
    </ion-badge>
  </swiper-slide>
 
</swiper-container> -->
  </ion-toolbar>
</ion-footer>