<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar placeholder="Filter services" inputmode="decimal" type="decimal" mode="ios" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>

  <div class="filter-container">
    <div class="filter-badge">Filters</div>
    <div class="filter-badge-outline" (click)="applyFilter()">Near me</div>
    <div class="filter-badge-outline" (click)="applyFilter()">Fast Delivery</div>
    <div class="filter-badge-outline" (click)="applyFilter()">5 Km's Radius</div>
    <div class="filter-badge-outline" (click)="applyFilter()">Highest Rated</div>
  </div>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="loading-container" *ngIf="isLoading">
    <img class="loading-img" src="assets/icon/laundry.gif" />
  </div>


  <div class="container">
    <ion-list *ngIf="!isLoading">
      <ion-list-header>
        <ion-label style="font-size: 16px; font-weight: 500;">Top Laundries </ion-label>
      </ion-list-header>
      <app-laundry-card
        imageUrl="assets/laundry-demo.svg"
        name="Location Name"
        ratings="4.5"
        address="123 Main St, City, Country"
        (click)="openPage('/view-laundry/Washing/1/add')"
      >
      </app-laundry-card>
      <app-laundry-card
        imageUrl="assets/laundry-demo.svg"
        name="Location Name"
        ratings="4.5"
        address="123 Main St, City, Country"
      >
      </app-laundry-card>
      <app-laundry-card
        imageUrl="assets/laundry-demo.svg"
        name="Location Name"
        ratings="4.5"
        address="123 Main St, City, Country"
      >
      </app-laundry-card>
      <app-laundry-card
        imageUrl="assets/laundry-demo.svg"
        name="Location Name"
        ratings="4.5"
        address="123 Main St, City, Country"
      >
      </app-laundry-card>

      <app-laundry-card
        imageUrl="assets/laundry-demo.svg"
        name="Location Name"
        ratings="4.5"
        address="123 Main St, City, Country"
      >
      </app-laundry-card>
    </ion-list>
   
  </div>
  <ion-modal class="filter-modal" #modal [isOpen]="isFilterOpen" [initialBreakpoint]="0.45" [breakpoints]="[0, 0.25, 0.5, 0.45]">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-list-header>
            <ion-label class="nunito-bold">Sort By</ion-label>
          </ion-list-header>
          <hr>
          <ion-radio-group value="strawberries" mode="md">

            <ion-item lines="none" >
              <ion-label class="nutino-regular"   >Rating: High To Low</ion-label>
              <ion-radio slot="end"></ion-radio>
            </ion-item>
            <ion-item lines="none" >
              <ion-label class="nutino-regular" >Delivery time:High To Low</ion-label>
              <ion-radio slot="end"></ion-radio>
            </ion-item>
            <ion-item lines="none" >
              <ion-label class="nutino-regular" >Cost: High To Low</ion-label>
              <ion-radio slot="end"></ion-radio>
            </ion-item>
            <ion-item lines="none" >
              <ion-label class="nutino-regular" >Cost: Low To high</ion-label>
              <ion-radio slot="end"></ion-radio>
            </ion-item>
          </ion-radio-group>
          </ion-list>
        </ion-content>
    </ng-template>
  </ion-modal>
 
    

</ion-content>
