
  <ion-radio-group name="auto" value="1" (ionChange)="radioButtonEvent($event)">
    <div #first class="container active">
      <div #badge class="badge active">
        <p>Best value</p>
      </div>
      <div class="first">
      <p>1 year, $5666</p>
      <p>Only $56/month</p>
      </div>
      <div class="last">
        <ion-radio value="1" mode="md"></ion-radio>
      </div>
      </div>
      <div #second class="container " >
        <div class="first">
        <p>1 year, $5666</p>
        <p>Only $56/month</p>
        </div>
        <div class="last">
          <ion-radio value="2" mode="md"></ion-radio>
        </div>
        
        </div>
  </ion-radio-group>

