<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>My Search</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar
    mode="ios"
    placeholder="Search laundries"
    inputmode="decimal"
    type="decimal"
    [(ngModel)]="laundryFilter.name"
    (ionClear)="onClearEvent($event)"
    (ionChange)="onSearchChange($event)"
    [debounce]="250"
    showCancelButton="always"
  ></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Your recent searches</ion-label>
      <ion-button>Clear All</ion-button>
    </ion-list-header>

    <ion-item *ngFor="let item of allLaundries | filterBy: laundryFilter">
      <ion-thumbnail slot="start">
        <img src="https://placehold.co/100" />
      </ion-thumbnail>

      <ion-label
        >{{item.name}}
        <p>Best in Class services</p>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
