ion-modal#example-modal {
    --width: fit-content;
    --min-width: 370px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  ion-modal#example-modal ion-icon {
    margin-right: 6px;
  
    width: 48px;
    height: 48px;
  
    padding: 4px 0;
  
    color: #aaaaaa;
  }
  
  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
  }

  #confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;  /* Ensure the canvas is behind the content */
  }
  
  .modal-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-container > p{
    margin: 0;
  }

  .modal-container > img{
    height: 100px;
    width: auto;
  }
  .modal-container > .title{
    font-size: 30px;
    font-weight: 500;
    margin-top: 8px;
  }

  .modal-container > .applied{
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
  }

  .modal-container > .label{
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
  }