<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>My Orders</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/tab3"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-segment value="1" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="1">
      <ion-label>Recent</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Previous</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-accordion-group>
      <ion-accordion
        class="animate__animated animate__backInLeft"
        *ngFor="let item of orders"
      >
        <ion-item
          color="light"
          slot="header"
          lines="none"
          class="ion-margin-top"
          detail
        >
          <img
            class="hotel-thumbnail"
            crossorigin="anonymous"
            src="https://placehold.co/60"
          />

          <div class="hotel-item-container">
            <ion-label class="ion-margin-start">
              <p class="title">{{item.orderId}}</p>
              <p class="sub-title">{{item.items.length}} X</p>
            </ion-label>
            <div class="ion-margin-start rating-container">
              <p class="rating">{{item.createdAt | date:"shortDate"}}</p>
            </div>
            <div class="sort-badge ion-margin-start">
              <p *ngIf="item.status === 0">Pending</p>
              <p *ngIf="item.status === 1">Confirmed</p>
              <p *ngIf="item.status === 2">Pickup started</p>
              <p *ngIf="item.status === 3">Order Picked Up</p>
              <p *ngIf="item.status === 4">In Process</p>
              <p *ngIf="item.status === 5">Ready For Delivery</p>
              <p *ngIf="item.status === 6">Delivery Started</p>
              <p *ngIf="item.status === 7">Order Delivered</p>
            </div>
          </div>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list>
            <ion-list-header>
              <ion-label>Your Order Details</ion-label>
            </ion-list-header>
            <ion-item class="ion-margin-top" *ngFor="let item of item.items">
              <img
                class="hotel-thumbnail"
                crossorigin="anonymous"
                src="https://placehold.co/60"
              />

              <div class="hotel-item-container">
                <ion-label class="ion-margin-start">
                  <p class="title">Jeans</p>
                  <p class="sub-title">234</p>
                  <span>X 4</span>
                </ion-label>
              </div>
            </ion-item>
          </ion-list>
          <br />

          <ion-item>
            <ion-label>Subtotal</ion-label>
            <p class="pricing" slot="end">{{item.priceDetails.subtotal | currency:"INR"}}</p>
          </ion-item>
          <ion-item>
            <ion-label>Delivery</ion-label>
            <p class="pricing" slot="end">{{item.priceDetails.deliveryCharges | currency:"INR"}}</p>
          </ion-item>
          <ion-item>
            <ion-label>Handling Fees</ion-label>
            <p class="pricing" slot="end">{{item.priceDetails.platformFee | currency:"INR"}}</p>
          </ion-item>
          <ion-item>
            <ion-label>(GST)</ion-label>
            <p class="pricing" slot="end">{{item.priceDetails.gstAmount | currency:"INR"}}%</p>
          </ion-item>
          <ion-item>
            <ion-label>Total</ion-label>
            <p class="pricing" slot="end">{{item.priceDetails.totalAmountToPay | currency:"INR"}}%</p>
          
          </ion-item>
          <ion-button expand="block" fill="clear" shape="round">
            Help
          </ion-button>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
</ion-content>
